* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;


}

h1 {
    color: #ff4dd2;
    text-shadow: 2px 4px 2px #a64dff;
    font-family: Impact;
    padding: 5px;
    font-size: 100px;

}

body {
    background-image: url(../img/wall.jpg)
}

a {
    text-decoration: none;
    color: white;
    background-color: darkviolet;

    padding: 5px 10px;
    margin: 5px;
}

a:hover {
    background-color: mediumvioletred;
    color: whitesmoke;
}

header {
    background-color: darkviolet;

    text-align: center;
    padding-bottom: 15px;

}

nav {
    padding: 5px;

}

/*footer*/
footer {
    background-color: mediumvioletred;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 0;


}


/*FORMULARI ENTRADA DE PRODUCTES*/
#formulari {
    margin-top: 25px;
}

form {
    background-color: blueviolet;
    color: white;
    font-size: 0.80em;
    padding: 20px;
    width: 300px;
    border-radius: 3px;
    margin: auto;
    font-family: sans-serif;
}

input,
textarea {
    border: 0;
    width: 280px;
    outline: none;
}

.field {
    border: 1px solid #ccc;
    padding: 10px;
}

#boto input {
    border-radius: 3px;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: mediumvioletred;
}

#boto input:hover {
    background-color: palevioletred;
    cursor: pointer;
}

input {
    margin: 10px 0;
}



#boto input:active {
    cursor: pointer;
    background-color: #29962a;


}
